
#mainGraph{
    display: block;
    margin: 0 auto 2.5vw;
}


.graphBgLine{
    stroke: rgba(74, 102, 70, 0.15);
    stroke-width: 1px;
}

.graphBgLineDevider{
    stroke: rgba(74, 102, 70, 0.4);
    stroke-width: 1px;
}

.graphAxisValue{
fill: #666;
font-weight: bold;
}

.graphBackground{
    stroke: rgba(74, 102, 70, 0.05);
    stroke-width: 4;
    fill: rgba(205,225,205, 0.4);
}
