*{
    font-family: 'Quicksand', sans-serif;
}

p {
    color: #2B2B2B;
}

html{
    background: rgb(113,201,132);
    background: radial-gradient(circle, rgba(113,201,132,1) 0%, rgba(115,181,119,1) 56%, rgba(82,177,134,1) 100%);
}

body{
    margin: 0 auto;
    text-align: center;
    overflow-y:scroll;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b6ffc2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6bc97b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #619958;
}

::selection {
  color: #eee;
  background: #f2c172;
}

header {
    padding: 20px 0;
    color: #333;
    text-align: center;
    width: 100vw;
    max-width: 1000px;
    margin: 0 auto 0;
}
    header h1{
        margin-top:0;
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: 700;
    }

    header h2{
        margin-top: 0;
        line-height: 0.8;
        margin-bottom: 0;
        font-weight: 550;
    }

    header > hr{
        margin-top: 25px;
        width: 300px;
        border: solid 0.5px #333;
    }

    header > ul{
        padding: 0;
        list-style: none;
    }

    header > ul > li > a{
        color: #4A6646;
        text-decoration: none;
        font-weight: 600;
        font-size: 2em;
    }

    header > ul > li:hover{
        text-decoration: underline;
    }

    #mainGraphInfo{
        color: #444;
        display: flex;
        justify-content: space-around;
    }

    #mainGraphInfo h2{
        margin: 0;
        font-family: 'DM Mono', monospace;
    }

    #mainGraphInfo h2:last-child{
        margin-bottom: 50px;
    }

    #connectionLost{
        display: none;
    }

    #connectionLost h1{
        font-size: 4em;
    }

    #serverDevices{
        display: inline-block;
        position: relative;
        background: rgba(120,150,120, 1);
    }

    #serverDevices section div{
        display: inline-block;
    }
        #serverDevices section div img{
            background: rgba(255, 255, 255, 0.3);
            padding: 5px;
            width: 40px;
            height: 40px;
        }


    #serverDevices section ul{
        margin: 0 auto;
        padding: 0;
        display: inline-block;
        text-decoration: none;
        text-align: left;
    }
        #serverDevices section ul li{
            display: inline-block;
            margin: 6px 12px;
        }

        #serverDevices > section > header > ul > li{
            line-height: 38px;
            min-width: 140px;
        }

    #serverDevices section header{
        background: rgba(205,225,205, 1);
        height: 50px;
        display:flex;
        margin: 0 auto;
        cursor: pointer;
        padding: 4px;
        border-bottom: 1px solid #aaa;
    }

    #serverDevices section:last-child header{
        border-bottom: none;
    }

        #serverDevices section header h3{
            margin: 0;
            width: 400px;
            text-align: left;
            padding-left: 20px;
            line-height: 50px;
            font-weight: 600;
            font-size: 1.2em;
        }

        #serverDevices section section h4{
            margin: 0;
            line-height: 50px;
            font-weight: 600;
        }

        #serverDevices section header p, #serverDevices section section p{
            display: inline;
            font-size: 1.1em;
        }


    /* THE SETTINGS BOX */
    #serverDevices > section > section{
        display:block;
        margin: 0 auto;
        transform: scaleY(0);
        transition-duration: 0.3s;
        transform-origin: top;
        height:0;
    }

        #serverDevices > section > section > h3{
            display: block;
            margin: 0;
            padding-top: 8px;
            font-weight: 800;
        }

            #serverDevices > section > section > section{
                display: inline-flex;
                margin: 0 auto;
            }

                #serverDevices > section > section > section > h4{
                    line-height:1.7;
                    margin: 0;
                    font-weight: 600;
                    font-size: 1.2em;
                }


.pebert{
    height: 300px;
    position: absolute;
    z-index: -1;
    right: 10%;
    top:0px;
    transition-duration: 0.4s;
}

.pebertAbout{
    height: 300px;
    position: absolute;
    left: 10%;
    top:0px;
    transition-duration: 0.4s;
}

.headerGraph{
    height: 300px;
    position: absolute;
    z-index: -1;
    left: 10%;
    top:0px;
    transition-duration: 0.4s;
}

.headerGraphAbout{
    height: 300px;
    position: absolute;
    right: -15%;
    transition-duration: 0.4s;
}

.headerGraphBro{
    height: 300px;
    width: 400px;
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    overflow: hidden;
}

.aboutSection{
    height: 450px;
    width: 95vw;
    background-color: rgba(175, 210, 175, 1);
    margin: 0 auto;
    color: #333;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 20px;
    position: relative;
}

.aboutLink{
    font-size: 1em;
}


@media only screen and (max-width: 1000px) {
    #serverDevices section header{
        height: auto;
        text-align: center;
        display: block;
    }

    #serverDevices section header h3{
        height: 40px;
        line-height: 40px;
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    #serverDevices section header ul{
        display: block;
        text-align: center;
    }

    #serverDevices > section > header > ul{
        height: 30px;
    }

    #serverDevices > section > header > ul > li{
        line-height: 20px;
    }

    .pebert{
        top: 200px;
    }

    .headerGraph{
        top:200px;
    }
}
